<form enctype="multipart/form-data" class="go-form" action="{{.Target}}" method="{{.Method}}">
       	
       	<div class="result"></div>
		{{range .Input}}
			{{btInput .}}
		{{end}}

		<input type="hidden" name="formtoken" value="{{.Token}}" />
          
          <input type="submit" class="{{.ButtonClass}}" value="{{.CTA}}" />
 </form>
